.bg-gradient {
  color: var(--light-gray);
  box-shadow: 0 -2px 10px #b5b5b5;
  background: linear-gradient(
    97deg,
    var(--primary-blue),
    var(--secondary-blue)
  );
}
html.dark .bg-gradient {
  color: var(--primary-blue);
  background: linear-gradient(97deg, #000, #262626);
}
