.projects-slider-container {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  .project-card {
    scroll-snap-align: start;
    scroll-snap-stop: always;

    @media (width > 1250px) {
      flex-basis: 25%;
    }
    @media (width <= 1250px) {
      flex-basis: 33.3333333%;
    }
    @media (width <= 1024px) {
      flex-basis: 50%;
    }
    @media (width <= 768px) {
      flex-basis: 100%;
    }
  }
}

.slider-dots > div {
  width: 10px;
  height: 10px;
  background-color: var(--medium-gray);
  border-radius: 0;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.2s;
  &.active {
    background-color: var(--dark-gray);
    border-radius: 2px;
    transform: translateY(-5px) rotate(135deg);
  }
}

.border-white {
  border-color: var(--white);
}
/* styles.css */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
}

.fade-in {
  animation: fadeIn 0.3s forwards;
}

.fade-out {
  animation: fadeOut 0.3s forwards;
}
