@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #1b1f3b;
  --secondary-blue: #4a55a1;
  --light-skyblue: #70bce3;
  --primary-orange: #ff8a00;
  --light-gray: #f2f2f2;
  --medium-gray: #c5c5c5;
  --dark-gray: #5b5b5b;
  --white: #ffffff;

  --radial-gradient: radial-gradient(#000 76%, #fff 100%);

  /* Experience Colors */
  --upwork: #6fda44;
  --peoplePerHour: #fd5100;
  --findingFromEgy: #ff0000;
  --mostaql: #2b88c5;

  /* Education Colors */
  --meta: #1368e2;
  --harvard: #542f1d;
  --almdrasa: #00f0ff;
  --alexUniv: #1368e2;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --primary-blue: #eaecff;
    --secondary-blue: #caccdd;
    --light-skyblue: #70bce3;
    --primary-orange: #ff8a00;
    --light-gray: #1f1f1f;
    --medium-gray: #c5c5c5;
    --dark-gray: #5b5b5b;
    --white: #000; */
  }
}

body {
  color: var(--primary-blue);
  background-color: var(--light-gray);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--light-skyblue);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-blue);
  border-radius: 10px;
}

.btn {
  border-radius: 10px;
  background: linear-gradient(
    97deg,
    var(--primary-blue) -0.1%,
    var(--secondary-blue) 99.9%
  );
  color: var(--light-gray);
  padding: 0.5rem 1.25rem;
  overflow: hidden;
  position: relative;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
.btn::after {
  content: "";
  background: linear-gradient(
    97deg,
    var(--secondary-blue),
    var(--light-skyblue)
  );
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.btn:hover::after {
  transform: translate(0, 0);
}
.btn:hover {
  transform: scale(1.05);
  will-change: transform;
}

.navigation-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li a {
      position: relative;
    }

    li a::after {
      content: "";
      width: 0;
    }

    li a:hover::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: 50%;
      height: 2px;
      border-radius: 50%;
      background: linear-gradient(
        115deg,
        var(--primary-blue),
        var(--secondary-blue)
      );
      transition: width 0.2s;
      transform: translateX(-50%);
    }
  }

  @media (width < 768px) {
    position: absolute;
    top: 82px;
    left: 0;
    backdrop-filter: blur(50px);
    width: 100%;
    min-height: 100svh;
    border-radius: 0 10px 10px 0;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;

    &.active {
      transform: scaleX(100%);
    }

    ul {
      flex-direction: column;
      gap: 50px;
    }
  }
}

.bg-screen {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    width: calc(100vw - 5px);
    height: 100%;
    transform: translate(-50%, 0);
    padding: 0;
    margin: 0;
    background-color: inherit;
    background: inherit;
  }
}

.color-primary-blue {
  color: var(--primary-blue);
}
.bg-light-skyblue-after::after {
  background-color: var(--light-skyblue);
}
.bg-light-gray {
  background-color: var(--light-gray);

  &.after::after {
    background-color: var(--medium-gray);
  }
}
.border-r-light-gray {
  border-right: 1px solid var(--medium-gray);

  @media (width < 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--medium-gray);
  }
}
.color-dark-gray {
  color: var(--dark-gray);
}

.bg-white {
  background-color: var(--white);
}

.title-gradient {
  background: linear-gradient(90deg, #1b1f3b 0%, #4a55a1 74.22%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
